pipeline/sql server to azure blob storage.json
{
	"name": "sql server to azure blob storage",
	"properties": {
		"activities": [
			{
				"name": "load_each_table",
				"description": "Load each table from elite archive db to elite-archive container. degree of parallelism is set to 10 and file name is a utc timestamp.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "retrieve_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('retrieve_table_list').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy given table data from sql server to Elite Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "RemoveBlankSpacesFromColumnNames",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:45:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Destination",
									"value": "@{pipeline().parameters.sink_container}/@{concat(concat(item().TABLE_CATALOG,'/',item().TABLE_SCHEMA,'/',item().TABLE_NAME), '/',item().TABLE_NAME)}/@{concat(formatDateTime(utcnow(),'yyyyMMdd'),'.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AmazonRdsForSqlServerSource",
									"sqlReaderQuery": {
										"value": "@activity('RemoveBlankSpacesFromColumnNames').output.firstRow.Query",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 10,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SDDCFINSQL",
									"type": "DatasetReference",
									"parameters": {
										"database": {
											"value": "@pipeline().parameters.sql_server_db",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_edisdatalake",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@pipeline().parameters.sink_container",
											"type": "Expression"
										},
										"Directory": {
											"value": "@concat(item().TABLE_CATALOG,'/',item().TABLE_SCHEMA)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "RemoveBlankSpacesFromColumnNames",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AmazonRdsForSqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(' \n\nDECLARE @s VARCHAR(MAX) \n\nDECLARE @tablename VARCHAR(500) = ''', item().Table_Name ,''' \n\n \n\nSELECT @s = ISNULL(@s + '', '','''') + ''['' + c.name + '']'' + '' as [''+replace(c.name,'' '','''')+''] '' \n\nFROM sys.all_columns c join sys.tables t \n\nON c.object_id = t.object_id \n\nWHERE t.name =  @tablename \n\n \n\nSELECT ''select '' + @s + '' from ['' +  @tablename +'']''  as Query') ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SDDCFINSQL",
									"type": "DatasetReference",
									"parameters": {
										"database": {
											"value": "@pipeline().parameters.sql_server_db",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						}
					]
				}
			},
			{
				"name": "retrieve_table_list",
				"description": "Lookup and retrieve table list from ods_corporate_finance db",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AmazonRdsForSqlServerSource",
						"sqlReaderQuery": "SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' and TABLE_SCHEMA = 'dbo'\nand TABLE_NAME in ('SSIS Configurations')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SDDCFINSQL",
						"type": "DatasetReference",
						"parameters": {
							"database": {
								"value": "@pipeline().parameters.sql_server_db",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"sink_container": {
				"type": "string",
				"defaultValue": "elite-archive"
			},
			"sql_server_db": {
				"type": "string",
				"defaultValue": "FINOPS"
			}
		},
		"annotations": []
	}
}