edis-adf1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "edis-adf1"
		},
		"AmazonRdsForSqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AmazonRdsForSqlServer1'"
		},
		"AmazonRdsForSqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AmazonRdsForSqlServer1'"
		},
		"HttpSharepointCSV_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'HttpSharepointCSV'"
		},
		"Http_Sharepoint_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Http_Sharepoint'"
		},
		"PostgreSql1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PostgreSql1'"
		},
		"Sharepoint_Odata_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Sharepoint_Odata'"
		},
		"edisdatalake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'edisdatalake'"
		},
		"ods_corporate_finance_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ods_corporate_finance'"
		},
		"AmazonRdsForSqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "HURONCONSULTING\\sjukaku"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://edislakehousekeys.vault.azure.net/"
		},
		"HttpSharepointCSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().url}"
		},
		"HttpSharepointCSV_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sjukaku"
		},
		"Http_Sharepoint_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().Baseurl}"
		},
		"Http_Sharepoint_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sjukaku"
		},
		"Salesforce1_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"Salesforce1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "hia@hcg.com.prod"
		},
		"Sharepoint_Odata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://huroncg.sharepoint.com/sites/"
		},
		"Sharepoint_Odata_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sjukaku"
		},
		"edis_databricks_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://edislakehousekeys.vault.azure.net/"
		},
		"hiakeys_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://hiakeys.vault.azure.net/"
		},
		"daily refresh 12 pm IST_properties_Salesforce full load_parameters_sink_container": {
			"type": "string",
			"defaultValue": "edis-raw"
		},
		"daily refresh 12 pm IST_properties_Salesforce full load_parameters_sink_directory": {
			"type": "string",
			"defaultValue": "sf"
		},
		"storage_events_edis-raw-container_csv_created_properties_edis raw to bronze ingestion_parameters_SourceFolder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"storage_events_edis-raw-container_csv_created_properties_edis raw to bronze ingestion_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"storage_events_edis-raw-container_csv_created_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/531bfae8-fc87-4a43-b0a7-fbc7e9736fcc/resourceGroups/EDIS_Lakehouse/providers/Microsoft.Storage/storageAccounts/edisdatalake1"
		},
		"storage_events_edis-raw-container_csv_deleted_properties_edis raw to bronze ingestion_parameters_SourceFolder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"storage_events_edis-raw-container_csv_deleted_properties_edis raw to bronze ingestion_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"storage_events_edis-raw-container_csv_deleted_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/531bfae8-fc87-4a43-b0a7-fbc7e9736fcc/resourceGroups/EDIS_Lakehouse/providers/Microsoft.Storage/storageAccounts/edisdatalake1"
		},
		"storage_events_edis-raw-container_parquet_created_properties_edis raw to bronze ingestion_parameters_SourceFolder": {
			"type": "string",
			"defaultValue": "@triggerBody().FolderPath"
		},
		"storage_events_edis-raw-container_parquet_created_properties_edis raw to bronze ingestion_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"storage_events_edis-raw-container_parquet_created_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/531bfae8-fc87-4a43-b0a7-fbc7e9736fcc/resourceGroups/EDIS_Lakehouse/providers/Microsoft.Storage/storageAccounts/edisdatalake1"
		},
		"storage_events_edis-raw-container_parquet_deleted_properties_edis raw to bronze ingestion_parameters_SourceFolder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"storage_events_edis-raw-container_parquet_deleted_properties_edis raw to bronze ingestion_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"storage_events_edis-raw-container_parquet_deleted_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/531bfae8-fc87-4a43-b0a7-fbc7e9736fcc/resourceGroups/EDIS_Lakehouse/providers/Microsoft.Storage/storageAccounts/edisdatalake1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Master Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ods_corporate_finance_full_load",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ods_corporate_finance_full_load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sink_container": "edis-gold",
								"sink_directory": "ods_corporate_finance"
							}
						}
					},
					{
						"name": "salesforce full load",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Salesforce full load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sink_container": "edis-bronze",
								"sink_directory": "salesforce"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-12T09:13:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ods_corporate_finance_full_load')]",
				"[concat(variables('factoryId'), '/pipelines/Salesforce full load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce full load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load all tables from salesforce to edis-gold container by creating appropriate directories",
				"activities": [
					{
						"name": "load_each_table",
						"description": "Load each table from ODS_corporate_finance db to edis-gold container. degree of parallelism is set to 10 and file name is a utc timestamp.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "retrieve_table_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('retrieve_table_list').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy given table data from ods to edis-gold",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:45:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().API_Name}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"additionalColumns": [
												{
													"name": "Extraction_datetime",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"readBehavior": "queryAll"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 8,
										"validateDataConsistency": true,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SalesforceObject",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().API_Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_edisdatalake",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().Label",
													"type": "Expression"
												},
												"ContainerName": {
													"value": "@pipeline().parameters.sink_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.sink_directory",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "retrieve_table_list",
						"description": "Lookup and retrieve table list from ods_corporate_finance db",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "csv_edisdatalake",
								"type": "DatasetReference",
								"parameters": {
									"Container": "edis-gold",
									"Directory": "salesforce",
									"Filename": "sf_objects.csv"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sink_container": {
						"type": "string",
						"defaultValue": "edis-raw"
					},
					"sink_directory": {
						"type": "string",
						"defaultValue": "sf"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-09T09:05:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csv_edisdatalake')]",
				"[concat(variables('factoryId'), '/datasets/SalesforceObject')]",
				"[concat(variables('factoryId'), '/datasets/sink_edisdatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/edis raw to bronze ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest files from edis-raw container to edis-bronze in delta format and create table in bronze table. Supported file formats are csv,parquet,delta and json.",
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/EDIS/AzureDatabricks/Include/DataPipelines/Generic/Ingestion",
							"baseParameters": {
								"File_or_directory_Path": {
									"value": "@concat(pipeline().parameters.SourceFolder,'/',pipeline().parameters.SourceFile)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "edis_azure_databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceFolder": {
						"type": "string"
					},
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-09T15:35:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/edis_azure_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_corporate_finance_full_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load all facts and dimensions from ods_corporate_finance db to edis-gold container by creating appropriate directories",
				"activities": [
					{
						"name": "load_each_table",
						"description": "Load each table from ODS_corporate_finance db to edis-gold container. degree of parallelism is set to 10 and file name is a utc timestamp.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "retrieve_table_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('retrieve_table_list').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Copy given table data from ods to edis-gold",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlSource"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 10,
										"validateDataConsistency": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "postgres_ods_corporate_finance",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().table_name",
													"type": "Expression"
												},
												"Schema": "public"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_edisdatalake",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().table_name",
													"type": "Expression"
												},
												"ContainerName": {
													"value": "@pipeline().parameters.sink_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.sink_directory",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "retrieve_table_list",
						"description": "Lookup and retrieve table list from ods_corporate_finance db",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource",
								"query": "SELECT table_name  FROM information_schema.tables\n                      WHERE table_schema='public' \n                      and (table_name like 'fact%' or table_name like 'dim%')\n                      and table_name  not like '%_bak_%'\n                      and table_name  not like '%_daily%'\n                      and table_name  not like '%_weekly%'\n                      and table_name  not like '%_monthly%'\n                      and table_name  not like '%_history%'"
							},
							"dataset": {
								"referenceName": "postgres_ods_corporate_finance",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "na",
									"Schema": "Public"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sink_container": {
						"type": "string",
						"defaultValue": "edis-gold"
					},
					"sink_directory": {
						"type": "string",
						"defaultValue": "ods_corporate_finance"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-12T09:13:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/postgres_ods_corporate_finance')]",
				"[concat(variables('factoryId'), '/datasets/sink_edisdatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql server to azure blob storage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "load_each_table",
						"description": "Load each table from elite archive db to elite-archive container. degree of parallelism is set to 10 and file name is a utc timestamp.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "retrieve_table_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('retrieve_table_list').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy given table data from sql server to Elite Archive",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "RemoveBlankSpacesFromColumnNames",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:45:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Destination",
											"value": "@{pipeline().parameters.sink_container}/@{concat(concat(item().TABLE_CATALOG,'/',item().TABLE_SCHEMA,'/',item().TABLE_NAME), '/',item().TABLE_NAME)}/@{concat(formatDateTime(utcnow(),'yyyyMMdd'),'.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AmazonRdsForSqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('RemoveBlankSpacesFromColumnNames').output.firstRow.Query",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 10,
										"validateDataConsistency": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SDDCFINSQL",
											"type": "DatasetReference",
											"parameters": {
												"database": {
													"value": "@pipeline().parameters.sql_server_db",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_edisdatalake",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"ContainerName": {
													"value": "@pipeline().parameters.sink_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@concat(item().TABLE_CATALOG,'/',item().TABLE_SCHEMA)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "RemoveBlankSpacesFromColumnNames",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AmazonRdsForSqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat(' \n\nDECLARE @s VARCHAR(MAX) \n\nDECLARE @tablename VARCHAR(500) = ''', item().Table_Name ,''' \n\n \n\nSELECT @s = ISNULL(@s + '', '','''') + ''['' + c.name + '']'' + '' as [''+replace(translate(c.name,''[,;{}()\\=]'',''          ''),'' '','''')+''] '' \n\nFROM sys.all_columns c join sys.tables t \n\nON c.object_id = t.object_id \n\nWHERE t.name =  @tablename and t.schema_id=1\n\n \n\nSELECT ''select '' + @s + '' from '' +  @tablename  as Query') ",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SDDCFINSQL",
											"type": "DatasetReference",
											"parameters": {
												"database": {
													"value": "@pipeline().parameters.sql_server_db",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								}
							]
						}
					},
					{
						"name": "retrieve_table_list",
						"description": "Lookup and retrieve table list from ods_corporate_finance db",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AmazonRdsForSqlServerSource",
								"sqlReaderQuery": "SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' and TABLE_SCHEMA = 'dbo'\n--and TABLE_NAME in ('tempcnonexpbudget1','temphutc','tempmtlc','temphut','tempmtl')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SDDCFINSQL",
								"type": "DatasetReference",
								"parameters": {
									"database": {
										"value": "@pipeline().parameters.sql_server_db",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sink_container": {
						"type": "string",
						"defaultValue": "elite-archive"
					},
					"sql_server_db": {
						"type": "string",
						"defaultValue": "FINOPS"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SDDCFINSQL')]",
				"[concat(variables('factoryId'), '/datasets/sink_edisdatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SDDCFINSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AmazonRdsForSqlServer1",
					"type": "LinkedServiceReference",
					"parameters": {
						"database": {
							"value": "@dataset().database",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"database": {
						"type": "string",
						"defaultValue": "master"
					}
				},
				"annotations": [],
				"type": "AmazonRdsForSqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AmazonRdsForSqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceObject')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string",
						"defaultValue": "Opportunity"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_edisdatalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "edisdatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "edis-gold"
					},
					"Directory": {
						"type": "string",
						"defaultValue": "salesforce"
					},
					"Filename": {
						"type": "string",
						"defaultValue": "sf_objects.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Label",
						"type": "String"
					},
					{
						"name": "API_Name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/edisdatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/edisdatalake_pathload')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "edisdatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"ContainerName": {
						"type": "string",
						"defaultValue": "edis-gold"
					},
					"Directory": {
						"type": "string",
						"defaultValue": "ods_corporate_finance"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@concat(dataset().Directory, '/',dataset().FileName)",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/edisdatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/postgres_ods_corporate_finance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ods_corporate_finance",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string",
						"defaultValue": "table"
					},
					"Schema": {
						"type": "string",
						"defaultValue": "public"
					}
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ods_corporate_finance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_edisdatalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "edisdatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"ContainerName": {
						"type": "string",
						"defaultValue": "edis-gold"
					},
					"Directory": {
						"type": "string",
						"defaultValue": "ods_corporate_finance"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().Directory, '/',dataset().FileName)",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/edisdatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AmazonRdsForSqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"database": {
						"type": "string",
						"defaultValue": "master"
					}
				},
				"annotations": [],
				"type": "AmazonRdsForSqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AmazonRdsForSqlServer1_connectionString')]",
					"userName": "[parameters('AmazonRdsForSqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AmazonRdsForSqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpSharepointCSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"url": {
						"type": "string",
						"defaultValue": "https://huroncg.sharepoint.com/:x:/s/HuronOperationalReporting/ERPcKQla1sZBkyR5tUqnNBgBOIbZb49WUKf7GNkLZC0xeg?e=2kVThy"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpSharepointCSV_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Windows",
					"userName": "[parameters('HttpSharepointCSV_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('HttpSharepointCSV_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_Sharepoint')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Baseurl": {
						"type": "string",
						"defaultValue": "https://huroncg.sharepoint.com/sites/HuronOperationalReporting/Shared%20Documents/"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Http_Sharepoint_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Windows",
					"userName": "[parameters('Http_Sharepoint_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Http_Sharepoint_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('PostgreSql1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('Salesforce1_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('Salesforce1_properties_typeProperties_username')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hiakeys",
							"type": "LinkedServiceReference"
						},
						"secretName": "sf-hia-password"
					},
					"securityToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hiakeys",
							"type": "LinkedServiceReference"
						},
						"secretName": "sf-hia-token"
					},
					"apiVersion": "53.0"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiakeys')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sharepoint_Odata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('Sharepoint_Odata_properties_typeProperties_url')]",
					"authenticationType": "Windows",
					"userName": "[parameters('Sharepoint_Odata_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sharepoint_Odata_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/edis_azure_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4551013736718354.14.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "edis_databricks",
							"type": "LinkedServiceReference"
						},
						"secretName": "edis-databricks-access-keys"
					},
					"existingClusterId": "0228-074045-36gnj2z4"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/edis_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/edis_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('edis_databricks_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/edis_delta_lake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-4551013736718354.14.azuredatabricks.net",
					"clusterId": "0228-074045-36gnj2z4",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "edis_databricks",
							"type": "LinkedServiceReference"
						},
						"secretName": "edis-databricks-access-keys"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/edis_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/edisdatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('edisdatalake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiakeys')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('hiakeys_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_corporate_finance')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('ods_corporate_finance_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hiakeys",
							"type": "LinkedServiceReference"
						},
						"secretName": "ods-corporate-finance-powerbi-key"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]",
				"[concat(variables('factoryId'), '/linkedServices/hiakeys')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/daily refresh 12 pm IST')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Salesforce full load",
							"type": "PipelineReference"
						},
						"parameters": {
							"sink_container": "[parameters('daily refresh 12 pm IST_properties_Salesforce full load_parameters_sink_container')]",
							"sink_directory": "[parameters('daily refresh 12 pm IST_properties_Salesforce full load_parameters_sink_directory')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-06-01T11:18:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								12
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Salesforce full load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/storage_events_edis-raw-container_csv_created')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "edis raw to bronze ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFolder": "[parameters('storage_events_edis-raw-container_csv_created_properties_edis raw to bronze ingestion_parameters_SourceFolder')]",
							"SourceFile": "[parameters('storage_events_edis-raw-container_csv_created_properties_edis raw to bronze ingestion_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/edis-raw/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('storage_events_edis-raw-container_csv_created_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/edis raw to bronze ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/storage_events_edis-raw-container_csv_deleted')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "edis raw to bronze ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFolder": "[parameters('storage_events_edis-raw-container_csv_deleted_properties_edis raw to bronze ingestion_parameters_SourceFolder')]",
							"SourceFile": "[parameters('storage_events_edis-raw-container_csv_deleted_properties_edis raw to bronze ingestion_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/edis-raw/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('storage_events_edis-raw-container_csv_deleted_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobDeleted"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/edis raw to bronze ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/storage_events_edis-raw-container_parquet_created')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "edis raw to bronze ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFolder": "[parameters('storage_events_edis-raw-container_parquet_created_properties_edis raw to bronze ingestion_parameters_SourceFolder')]",
							"SourceFile": "[parameters('storage_events_edis-raw-container_parquet_created_properties_edis raw to bronze ingestion_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/edis-raw/blobs/",
					"blobPathEndsWith": ".parquet",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('storage_events_edis-raw-container_parquet_created_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/edis raw to bronze ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/storage_events_edis-raw-container_parquet_deleted')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "edis raw to bronze ingestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFolder": "[parameters('storage_events_edis-raw-container_parquet_deleted_properties_edis raw to bronze ingestion_parameters_SourceFolder')]",
							"SourceFile": "[parameters('storage_events_edis-raw-container_parquet_deleted_properties_edis raw to bronze ingestion_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/edis-raw/blobs/",
					"blobPathEndsWith": ".parquet",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('storage_events_edis-raw-container_parquet_deleted_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobDeleted"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/edis raw to bronze ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-03-02T19:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/corporate_finance_insight_zone_system_powerbi')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ServicePrincipal",
				"typeProperties": {
					"tenant": "52396626-9694-4c25-b1ae-f526c756cc35",
					"servicePrincipalId": "corporate_finance_insight_zone_system_powerbi",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hiakeys",
							"type": "LinkedServiceReference"
						},
						"secretName": "ods-corporate-finance-powerbi-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiakeys')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/credential1')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ServicePrincipal",
				"typeProperties": {
					"tenant": "52396626-9694-4c25-b1ae-f526c756cc35",
					"servicePrincipalId": "hia@hcg.com.prod",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hiakeys",
							"type": "LinkedServiceReference"
						},
						"secretName": "sf-hia-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiakeys')]"
			]
		}
	]
}